<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Image Uploading</title>
</head>

<body>
	<h1>To Upload Image on mongoDB</h1>
	<hr>
	<div>
		<form action="/" method="POST" enctype="multipart/form-data">
			<div>
				<label for="name">Image Title</label>
				<input type="text" id="name" placeholder="Name"
					value="" name="name" required>
			</div>
			<div>
				<label for="desc">Image Description</label>
				<textarea id="desc" name="desc" value="" rows="2"
						placeholder="Description" required>
				</textarea>
			</div>
			<div>
				<label for="image">Upload Image</label>
				<input type="file" id="image"
					name="image" value="" required>
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>

	<hr>

	<h1>Uploaded Images</h1>
	<div>
		<% items.forEach(function(image) { %>
		<div>
			<div>
				<img src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>">
				<div>
					<h5><%= image.name %></h5>
                    <p><%= image.desc %></p>
					<form action="/delete" method="post">
						 
					<button class="btn" type="submit" name= "btn" value="<%= image._id %>"><i class="fa fa-trash-o"></i></button>
					<button onclick="editFunction('<%= image._id %>')" class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></i></button>
	
						
					</form>
				</div>
			</div>
		</div>
		<% }) %>
	</div>


	<script>
        const editFunction = (itemId)=>{
            const newName = prompt("Enter new name!");
			const newDes = prompt("Enter new description!");
            var data = {newDes: newDes, newName: newName, itemId: itemId};
            fetch("/edit", {
                method: "POST",
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify(data)
            }).then(res => {
                //console.log("Request complete! response:", res);
                window.location.assign('/')
            }).catch(err=>{
                console.log(err);
            })
            //console.log(newName, itemId);
        }
        
    </script>


</body>

</html>
